<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="multisafepay" translate="label" sortOrder="400" class="multisafepay-icon">
            <label>MultiSafepay</label>
        </tab>
        <section id="multisafepay_order_save_inspector" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
            <class>separator-top</class>
            <label><![CDATA[Order Save Inspector]]></label>
            <tab>multisafepay</tab>
            <resource>MultiSafepay_OrderSaveInspector::configuration</resource>
            <group id="multisafepay_order_save_inspector" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1">
                <label><![CDATA[Inspector Settings]]></label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Enabled]]></label>
                    <config_path>multisafepay/order_save_inspector/active</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="backtrace_depth" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Maximum Depth]]></label>
                    <config_path>multisafepay/order_save_inspector/backtrace_depth</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>validate-digits validate-not-negative-number</validate>
                    <comment><![CDATA[Defines how much of the backtrace will be logged. Only increase the amount if needed. <br />Default: 30 <br /><strong>Caution:</strong> A high backtrace depth will use more system resources ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
